.App {
  text-align: center;
  font-size: 20px;
  color: rgb(124, 236, 141);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border: 1px solid rgb(124, 236, 141);
  padding: 40px;
}

input {
  font-size: 20px;
  padding: 10px 20px;
  background-color:  rgba(200, 200, 200, 0.2);
  border: 2px solid rgb(124, 236, 141);
  color:  rgb(124, 236, 141);
  width: 400px;
  text-align: center;
}

input ::placeholder {
  color:  rgb(124, 236, 141);
}

button {
  font-size: 20px;
  width: fit-content;
  color: rgb(124, 236, 141) ;
  padding: 10px 20px;
  border: 2px solid rgb(124, 236, 141);
  background-color: transparent;
  cursor:pointer
}